version: '3'
# Development enviroment
services:
  vwa-local:
    image: victorhad/accounts:local
    container_name: vwa-local
    build:
      context: .
      dockerfile: ./enviroments/local/Dockerfile
    volumes:
      - .:/home/developer/
    ports:
      - "8000:8080"